<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
</head>

<body>
    <img src="../img-layout-2/LOGO.png" alt="">
    <div class="header">
        <ul>
            <li> <a>Trang Chủ</a> </li>
            <li> <a>Giới Thiệu</a></li>
            <li><a>Sản phẩm</a> </li>
            <li><a>Tin Tức</a></li>
            <li><a>Liên Hệ</a></li>
        </ul>
    </div>
    <div class="bia"><img src="../img-layout-2/slider_1.jpg" alt=""></div>
    <h1>Sản phẩm</h1>
    <div class="product">
        <a href="#"><img src="../img-layout-2/sp_1.jpg" alt=""></a>
        <a href="#"><img src="../img-layout-2/sp_2.jpg" alt=""></a>
        <a href="#"><img src="../img-layout-2/sp_3.jpg" alt=""></a>
        <a href="#"><img src="../img-layout-2/sp_4.jpg" alt=""></a>
        <a href="#"><img src="../img-layout-2/sp_5.jpg" alt=""></a>
        <a href="#"><img src="../img-layout-2/sp_6.jpg" alt=""></a>
        <a href="#"><img src="../img-layout-2/sp_7.jpg" alt=""></a>
        <a href="#"><img src="../img-layout-2/sp_8.jpg" alt=""></a>
        <a href="#"><img src="../img-layout-2/sp_9.jpg" alt=""></a>
    </div>
    <div class="footer">
        <h1>Interior Design</h1>
        <p>địa chỉ: 30 Lý Thánh Tông, phường 4, Quận 10</p>
        <p>Điện Thoại: 0948693260</p>
        <p>Di Động: 098123456</p>

    </div>
</body>

</html>